<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HealthFitnessBookingSystem</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="ServiceProviders" asp-action="Index">Service Providers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Clients" asp-action="Index">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Login">Account</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

    <main role="main" class="container mt-4">
        @RenderBody()
    </main>
        <footer class="bg-light mt-4 p-3">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - HealthFitnessBookingSystem
        </div>
    </footer>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
